<div class="TnContents">
    <div class="searchbar">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" id="TnSearchInput" placeholder="Search" />
    </div>
    <div class="rightsec">
        <div class="Langbar">
            <button class="LanBtn">
                Eng
                <fa-icon [icon]="faCaretDown"></fa-icon>
            </button>
        </div>
        <div class="Messagebar">
            <div class="LiveNotification">
                <fa-icon class="Ndot" [icon]="faCircle"></fa-icon>
                <fa-icon class="NFIcon" [icon]="faMessage"></fa-icon>
            </div>
        </div>
        <div class="Notificationbar">
            <div class="LiveBell">
                <fa-icon class="Bdot" [icon]="faCircle"></fa-icon>
                <fa-icon class="BIcon" [icon]="faBell"></fa-icon>
            </div>
        </div>
        <div class="ProfileBar">
            <img class="ProfImg" src="../../assets/Images/My pic.png" alt="" srcset="">
            <label for="" class="userName">Sobhen Sekhar Sahoo</label>
            <fa-icon [icon]="faCaretDown"></fa-icon>
        </div>
    </div>
</div>