<div class="ContentBody">
  <div class="ContentWrapper">
    <section class="LeftMenu">
      <app-leftmenu></app-leftmenu>
    </section>
    <div class="MainContent">
      <section class="TopNavBar">
        <app-top-nav></app-top-nav>
      </section>
      <section class="PageBody">
        <div class="CardSec">
          <app-cards></app-cards>
        </div>
        <div class="MidSec">
          <div class="OrderTable">
            <app-order-table></app-order-table>
          </div>
          <div class="Users">
            <app-users></app-users>
          </div>
        </div>
        <div class="BottomSec">
          <app-charts></app-charts>
        </div>
      </section>
    </div>
  </div>
</div>