<div class="ChartWrapper">
    <div class="LineChart">
        <div class="Title">
            <h2>Seles Statistics</h2>
        </div>
        <canvas id="LineChart">{{LineChart}}</canvas>
    </div>
    <div class="BarChart">
        <div class="Title">
            <h2>Balance Overview</h2>
        </div>
        <canvas id="BarChart">{{BarChart}}</canvas>
    </div>
    <div class="Doughnut">
        <div class="Title">
            <h2>Top Products</h2>
        </div>
        <canvas id="Doughnut">{{Doughnut}}</canvas>
    </div>
</div>