<div class="LmWrapper">
    <div class="TopSec">
        <div class="toggleBtn">
            <fa-icon [icon]="faBarsStaggered"></fa-icon>
        </div>
    </div>
    <div class="NavSec">
        <div class="NavContent">
            <a class="NavLink">
                <fa-icon [icon]="faBoxOpen"></fa-icon>
            </a>
        </div>
        <div class="NavContent">
            <a class="NavLink">
                <fa-icon [icon]="faChartSimple"></fa-icon>
            </a>
        </div>
        <div class="NavContent Active">
            <a class="NavLink">
                <fa-icon [icon]="faClone"></fa-icon>
            </a>
        </div>
        <div class="NavContent">
            <a class="NavLink">
                <fa-icon [icon]="faCheck"></fa-icon>
            </a>
        </div>
        <div class="NavContent">
            <a class="NavLink">
                <fa-icon [icon]="faGear"></fa-icon>
            </a>
        </div>
        <div class="NavContent">
            <a class="NavLink">
                <fa-icon [icon]="faDownload"></fa-icon>
            </a>
        </div>
    </div>
</div>